.advantages {
  &__tagline,
  &__text,
  &__title,
  &__number,
  &__desc {
    .reset-margin();
    .center-uppercase();
  }

  &__tagline,
  &__title {
    .set-font(18px; 26px; bold);
    color: #000000;
  }

  &__text {
    line-height: 26px;
  }

  &__list {
    .reset-list-style();
  }

  &__content {
    background-color: @lightgrey;

    &--main {
      color: #ffffff;
      background-color: @lightblue;
    }
  }

  &__title {
    &--main {
      color: #ffffff;
    }
  }
}
