.button {
  display: block;
  padding: 16px 10px;

  .set-font(21px; 26px; bold);
  color: #ffffff;
  .center-uppercase();

  background-color: @lightblue;
  border: none;

  cursor: pointer;
  outline: none;

  &--popup {
    font-size: 18px;
  }

  &:hover,
  &:focus {
    background-color: @lightblue-hover;
  }

  &:active {
    color: fade(#ffffff, 50%);
    background-color: @lightblue-active;
  }

  &--disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: @tablet-width) {
  .button--popup {
    font-size: 21px;
  }
}
