.features {
  text-transform: uppercase;
}

.features__list {
  .reset-list-style();
}

.features__title,
.features__desc {
  margin: 0;
}

.features__title {
  .set-font(18px; 26px; bold);
  color: #000000;
}
