@bg-grey: #f2f2f2;

.form-reviews {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.form-reviews__item {
  margin: 0;
  border: none;
}

.form-reviews__title {
  margin: 0;

  .set-font(18px; 26px; bold);
  color: #000000;
  .center-uppercase();
}

.form-reviews__label {
  line-height: 26px;
  text-transform: uppercase;
}

.form-reviews__input {
  margin: 0;

  .set-font(18px; 26px; bold);
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;

  border: none;
  background-color: @bg-grey;
}

.form-reviews__text {
  display: none;
  line-height: 26px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .form-reviews {
    width: 648px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-reviews__item {
    width: 100%;

    &--personal {
      width: 266px;
    }

    &--impression {
      width: 275px;
      order: -1;
    }
  }

  .form-reviews__text {
    display: block;
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .form-reviews {
    width: 960px;
  }

  .form-reviews__item {
    &--personal,
    &--impression {
      width: 400px;
    }
  }
}
