.map {
  position: relative;

  min-height: 386px;
  padding-bottom: 36px;
}

.map__iframe {
  display: block;
  width: 100%;
  max-width: @desktop-width;
  margin: 0 auto;
}

.map__image {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;

  width: 100%;
  max-width: @desktop-width;

  transform: translateX(-50%);

  img {
    display: block;
    margin: 0 auto;
  }
}
