.menu {
  .reset-list-style();

  &__item {
    background-color: @bg-lightblue;
  }

  &__link {
    .set-font(40px; 18px; bold);
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
  }
}
