.nav {
  position: relative;
  padding-bottom: 56px;
}

.nav__btn {
  position: absolute;
  top: 0;
  right: 0;
}

.nav__logo-link {
  position: absolute;
  left: calc(50% - 51px);
  bottom: 56px - 83px;
}

.nav__logo-link img {
  display: block;
}

.nav__menu {
  margin: 0;
}
