.photo-post__image {
  display: block;
  width: 280px;
  height: 280px;
  margin: 0 auto;
}

.photo-post__desc {
  display: flex;
  padding-top: 15px;
  padding-bottom: 17px;
  flex-direction: column;
}

.photo-post__title,
.photo-post__author {
  margin: 0;
}

.photo-post__title,
.photo-post__likes {
  .set-font(14px; 24px; bold);
  color: #000000;
  text-transform: uppercase;
}

.photo-post__author {
  line-height: 24px;
}

.photo-post__likes {
  display: flex;
  width: 85px;
  margin-top: 8px;
}

.photo-post__toggle {
  width: 23px;
  height: 21px;
  margin-right: 14px;
  padding: 0;

  border: none;
  background: none;

  svg {
    width: 23px;
    height: 21px;

    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .photo-post__image {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .photo-post__desc {
    padding-left: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #f2f2f2;
  }

  .photo-post__likes {
    width: 85px;
  }

  .photo-post__toggle {
    margin-right: 9px;
  }
}

@media (min-width: @desktop-width) {
  .photo-post__desc {
    position: relative;
    margin-top: -80px;
    background-color: fade(#000000, 30%);
  }

  .photo-post__title,
  .photo-post__author,
  .photo-post__likes {
    color: #ffffff;
  }

  .photo-post__toggle {
    svg {
      opacity: 1;
    }

    path {
      fill: #ffffff;
    }
  }
}
