.popup {
  display: none;
  width: 320px;
}

.popup__title,
.popup__text {
  margin: 0;
  .center-uppercase();
}

.popup__title {
  .set-font(18px; 26px; bold);
  color: #000000;
}

.popup__text {
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .popup {
    width: 400px;

    &--success {
      width: 640px;
    }
  }
}
