.search-hotel {
  &__tagline,
  &__text {
    .reset-margin();
    text-align: center;
    text-transform: uppercase;
  }

  &__tagline {
    .set-font(26px; 21px; bold);
    color: #000000;
  }

  &__text {
    .set-font(24px);
  }
}
