.search-hotel {
  padding: 0 20px;

  &__tagline,
  &__text {
    .reset-margin();
    .center-uppercase();
  }

  &__tagline {
    .set-font(21px; 26px; bold);
    color: #000000;
  }

  &__text {
    line-height: 24px;
  }
}
