.set-font(@line-height: 21px; @font-size: 14px; @font-weight: normal) {
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
}

.reset-margin() {
  margin: 0;
  padding: 0;
}

.reset-list-style() {
  .reset-margin();
  list-style: none;
}
